# Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
Win32/
ipch/
*.ilk
*.obj
*.pdb
*.idb
*.log
*.tlog
*.recipe
*.exe
*.exp

# Don't ignore prebuilt External libraries
!External/**/*.lib
!External/**/*.dll

# Visual Studio
.vs/
*.vcxproj.user

# ImGui runtime state
imgui.ini
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
